/* opmaak pagina*/

body{
	font-family: avenir;
	text-align: center;

}

/*mobiele versie*/

@media only screen and (min-width: 400px) {

	.container{
		display: grid;
		grid-template-areas:
			"groet"
			"tijd"
			"dag"
			"taak"
	}

	.groeten{
		grid-area: groet;
		font-family: Optima;
		position: relative;
		text-align: right;
		font-weight: bold;
		font-size:30px;

	}

	.time{
		grid-area: tijd;
		font-family: Prisma;
		margin:10px;
		font-size: 80px;
		margin-top:50px;
	}

	.dag{
		grid-area: dag;
		font-size: 20px;
		margin: 0px;
		font-family: Optima;
	}

	.taak{
		grid-area: taak;
		font-size: 40px;
		font-family: Din pro;
	}

	#titel{
		grid-area: knop;
	}

	.optie1{
		grid-area: optieeen;
	}

	.optie2{
		grid-area:optietwee;
	}

	.optie3{
		grid-area:optiedrie;
	}

	

	#taak{
	font-family: Optima;
	font-size: 30px;
	background-color: #C7C9C2;
	color: grey;
	width: 95%;
	padding: 2.5%;
	margin: auto;
	margin-top:150px;
	border-radius: 10px;
	box-shadow: 5px 10px 7px  #888888;
	font-weight:bold;
	}
}

/*tablet versie*/

@media only screen and (min-width: 725px) {

	.container{
		grid-template-areas:
			"groet groet groet"
			"tijd tijd tijd"
			"dag dag dag"
			"taak taak taak"
			
	}

	#taak{
	font-family: Optima;
	font-size: 30px;
	background-color: #C7C9C2;
	color: grey;
	width: 95%;
	padding: 2.5%;
	margin: auto;
	border-radius: 10px;
	box-shadow: 5px 10px 7px  #888888;

	}


	.groeten{
		font-size: 45px;
	}
	.time{
		font-size: 150px;
	}
	.dag{
		font-size: 30px;
	}
}

/*desktop versie*/

@media only screen and (min-width: 1025px) {

	.container{
		grid-template-areas:
			"groet groet groet"
			"tijd tijd tijd"
			"dag dag dag"
			"taak taak taak"
			
	}

	#taak{
	font-family: Optima;
	font-size: 30px;
	background-color: #C7C9C2;
	color: white;
	width: 80%;
	padding: 2.5%;
	margin: auto;
	margin-top:15px;
	border-radius: 10px;
	box-shadow: 5px 10px 7px  #888888;
	font-weight:bold;
	}

	.foto{
		width: 80%;
	}

	.groeten{
		font-size: 45px;
		font-family:Optima;

	}
	.time{
		font-size: 250px;
		margin-top:-1%;

	}
	.dag{
		font-size: 30px;
		margin-top:-30px;
		

	}
}





